body{
    background-color:black;
}

h1{
    color: white;
    font-family: "Open Sans","consolas",sans-serif;
    border-color: white;
    border-top-style: dotted;
    border-bottom-style: solid;
    border-left-style: double;
    border-left-width: 10px;
    border-left-color: rgb(13, 0, 255);
    border-left-style: double;
    
}

p{
    color: white;
}

#p1{       /*special function for the first paragraph (put # before calling)*/
    color: yellow;
    font-family: "consolas",sans-serif; /*giving font to p1 */
    /* we can go to fonts.google.com for fonts selection */
}

#p2{
    color: white ;
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold ;
    text-decoration: underline;
    font-size: 18px
}
#p3{
    color: aqua;
    font-family: "consolas",sans-serif;
    font-style: italic;
    font-weight: bold ;
    text-decoration: dotted underline;
    font-size: 20px;

}
/* Adding Borders */
#p4{
    color: violet;
    border-style:outset; /* style of border */
    border-width: 5px; /* width of border */
    border-color: gold; /* color of border */
    border-radius: 10px; /* used to rond the edhes of the border*/
    padding: 5px; /* this is used to add some space between border and paragraph */
}
