#box1{
    width: 250px;
    height: 250px;
    background: yellow;
    font-size: 225px;
    text-align: center;
    
    animation: mySlide; /* Initialising Animations */
    animation-play-state: running; /*if write pause instead of running the animation will pause  */
    animation-iteration-count: infinite; /* Number of times animation loops */
    animation-delay: 1s; /* Delays the animations starting */
    animation-timing-function: linear; /* For smooth animation */
    animation-duration: 5s; /* Duration of the animation */

    /* We can combine all of the above properties like : */
    animation: 3s linear 0s infinite running mySlide;

    
}

 /* Creating animations */

@keyframes mySlide{
    from{margin-left: 100%;}  /* goes from left to right */
    to{margin-left: 0%;}
}