body{
   background-image: url("flowers.jpg");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   background-size: cover;
}
h1{
    background: linear-gradient(to right,pink,green);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to right,pink,green);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
