/* Margins are space sround elements */

body{
    margin: 70px; /* margins are the space from the webpage to the elements */
}



#box1{
    border: 5px solid;
    width: 250px;
    height:250px;
    font-size: 22px;
    background: greenyellow;

    margin-left: 50%;
}

#box2{
    border: 5px solid;
    width: 250px;
    height: 280px;
    font-size: 22px;
    background: dodgerblue;

    margin-left: auto;  /* this keeps the margin stick to the right hand side of the window  */
}