#box1{
    border: 1px solid ;
    height: 300px;
    width: 200px;
    background-color: skyblue;

    position: relative;

    top:150px;  /* Setting popsitions of box1 */
    left:150px;



}

#box2{
    border: 1px solid;
    height: 100px;
    width: 100px;
    background-color: tomato;

}