a:link{
    color: lawngreen;
}

a.visited{
    color: gray;
}

a:hover{ /* this gives the color tomato when we hover mouse over it  */
    color: tomato;
}

a:active{  /* this gives the  yellow when we hold mouse pointer over it   */
    color: yellow;
}

button:hover{
    background-color: gray; /* this makes. the button grey when we hover over it  */

}

button:active{
    background-color:blue ;
}

/* li:nth-child(3){ /* This gives any list item background color or any property */
    /* background-color: yellow; */
/* } */ 


li:nth-child(even){ /* This gives any list item background color or any property */
    background-color: skyblue;
}


li:nth-child(odd){ /* This gives any list item background color or any property */
    background-color: powderblue;
}


/* li:nth-child(2n){ we can even give a formula */
    /* background-color: powderblue; */
/* } */

