#box1{
    border: 4px solid;
    width: 250px;
    height: 250px;
    font-size: 225px;
    text-align: center;
    background: lightskyblue;

    transform: translateX(50px);  /* This moves the box up or down by 50 px  */
    transform: translateY(50px);  /* This moves the box up or down by 50 px  */
    transform: translate(50px,50px);  /* combining both the upper property */
    transform: rotateX(180deg);  /* rotates the box through x axis*/
    transform: rotateY(180deg);  /* rotates the box Y axis*/
    transform: rotateZ(180deg);  /* rotates the box Z axis*/
    transform: scaleX(2); /* Streches the box in X axis */
    transform: scaleY(2); /* Streches the box in Y axis */
    transform: scale(2,2); /* Combining both */
    transform: skewX(45deg); /* Tilts the box in x dir. */
    transform: skewY(45deg); /* Tilts the box in Y dir. */
    transform: skew(20deg, 20deg); /* Combining both */
     
    transform: matrix(2,0,0,2,50,50);
    /* the matrix combines:

    scaleX()
    skewY()
    skewX()
    scale()
    translate()
    translate:() */

}