* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;

}

.weather-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #0066cc;
    color: white;
    border-radius: 10px;
}

.site-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 40px;
}

.search-bar {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 20px;
    outline: none;
    margin-right: 20px;
}

.weather-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.current-weather {
    text-align: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.city-name {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.condition {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.weather-icon {
    font-size: 100px; 
    color: #ffcc00;  
}

.additional-info {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 48%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.info-item {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.forecast {
    margin-top: 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forecast h3 {
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.forecast-days {
    display: flex;
    justify-content: space-between;
    overflow-x: auto;
    padding-bottom: 10px;
}

.forecast-day {
    text-align: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 10px;
    width: 100px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.forecast-day p {
    margin: 5px 0;
    font-weight: bold;
}

.forecast-icon {
    font-size: 50px; 
    color: #ffcc00;  
}

.footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #777;
}
