*{
    margin: 0;
    border: border-box;

}


#hdr{
    height: 61px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#hre{
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

#button{
    height: 30px;
    width: 64px;
    color: gray;
    font-size: 15px;
    border-radius: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: 4px solid gray;
    outline-offset: 0; /* Important to flush it */
    border: none;       /* Optional, removes the default border */
    position: fixed;
    font-weight: bold;
    right: 30px;
    top: 20px;
    justify-content: center;
    align-items: center;


}

#button:hover{
    outline: 3px solid white;
}


#button:active{
    background-color: aqua;
}


#btntxt{
    color: black;
}

#options{
    height: 25px;
    background-color: grey;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

#options p{
    color: black;
}