*{                                                       /*  "*" selects all the elements on the page and applies property to them */
    margin: 0;                                           /* setting the margins to zero so that elements does not take margins by own  */
    font-family:Arial, Helvetica, sans-serif;
    border: border-box;                                  /* this allows the elements property to not leak whwn certain properties are changed */
    
}

.navbar{                                                 /* making the top navbar */
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;                                       /* This make sure that all the div elements that we have created comes in the navbar only */
    align-items: center;                                 /* Aligns all the elments to the centre frpm the y axis */
    justify-content: space-evenly;                       /* Spaces all the elements evenly on the navbar */
}

.navlogo{
    height: 50px;
    width: 100px;

}

.logo{
    background-image: url("amazon_logo.png");
    background-size: cover;                              /* is used to scale a background image so that it completely covers the element's background area */
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;                   /* here we are making a temporary border for hover preperty */
}

.border:hover{
    border: 1px solid white ;                        /* this will create a white background over the logos if we hover our mouse on it */
}

/* Styling box 2 (the address box) */

.address-1{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 24px;                                  /* Shifting the (Deliver to ) text a little left  */

}

.address-2{
    font-style: 1rem;
    margin-left: 3px;

}

.address-icon{
    display: flex;                                       /* This is done decuase we want the the adrress (india) and the location icon in the same line  */
}

/* Styling box 3 (The search box) */

.nav-searchbar{
    display: flex;
    justify-content: space-evenly; /* This equally spaces the icon tehe search box and the search select */
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;                                            /* removes the default border of select property of html */

}

/* styling search input */

.search-input{
    width: 100%;                                            /* This occupies the entire area that is present in the search div element */
    font-size: 1rem;                                        /* "Search amazon" font size */
    border: none;
}

.search-icon2{                                               /* search Icon bar styling */
    width: 45px;
    display: flex;
    justify-content: center;                                    /* Horizontal align of search icon to centre in the bar */
    align-items: center;                                      /* vertical align */
    font-size: 1.2rem;                                       /* resizing the icon */
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0F1111;                                         /* Color of the search icon */
}

/* Box 4 styling (Sign in box) */ 

span{
    font-size: 12px;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;                    /* to make font a little bold */
    
}

.nav-searchbar:hover{
    border:2px solid orange;           /* This makes a yellow border around the search bar as we hover over it   */

}

/* Box 6 cart box */

.navcart i{                               /* here i means we are applying property to icon only */
   font-size: 25px;
}

.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}


/* Panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center; /* align in cetre from the x axis */
    justify-content: space-evenly ;
}


.panelmenu p{ /* this brings all the p tags of panel menu in one line */
    display: inline;
    margin-left: 15px;  /* Gives spacing between the menu elements */

}

.panelmenu{
    width:70%;
    font-size: 0.85rem;
}

.paneldeals{
    font-size: 0.5 rem;
    font-weight: 400 ;

}

/* hero section */

.hero-section{
    background-image: url("hero_image.jpg");
    background-size: cover;                          /* this makes image cover the whole div section */
    height: 600px;

}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    bottom: 25px;
    


}

.hero-msg a{
    color: #007185;
}