body{  /* Body is the entire background of the website   */
    background-color: black;
}

h1{
    color: white;
}

#p1{  /* Here we are calling paragrapg ID from css file  */
    color: red;

}

#p2{
    color: yellow;
}
#p3{
    color: blue;
}
#p4{
    color: beige;
}
#p5{
    color: cyan;
}


.odd{
    color: lime;
}
.even{
    color: purple;
}
