h1{
    font-family: verdana, arial; /* Two fonts are added because if in case 1st one does not work 2nd will  */
}

p{
    font-family: "lucida console", "courier new";
    font-size: 18px; /* we can "em" instead of px for percentage size text */
    font-weight: bold;
    font-style: italic;
}