h1{
    border-style: solid; /* There are many border design like solid, dashed, grooved etc */
    border-width: 3px;
    border-color: blue;
    border-radius: 15px;  /* Used to curve the edge of the borders   */
}
p{
   border-top: 3px solid rgb(55, 193, 17); /* Used to put border just at the top of the paragraph   */
   border-bottom: 3px solid rgb(193, 17, 17); /* Used to put border just at the bottom of the paragraph   */
   border-right: 3px solid rgb(29, 17, 193); /* Used to put border just at the bottom of the paragraph   */
   border-left: 3px solid rgb(17, 172, 193); /* Used to put border just at the bottom of the paragraph   */
   
}